{% extends 'mainapp/base_index.html' %} {% block content %} {% load static %}
<!-- Hero section-->
<div class="hero vh-100 d-flex align-items-center" id="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto text-center">
        <ul class="hero-ul">
          <li><i class='bx bxs-car'></i>無料出張見積</li>
          <li><ion-icon name="hammer-outline"></ion-icon>修理対応</li>
          <li><i class='bx bxs-check-square'></i>ゴミ屋敷</li>
          <li><i class='bx bx-money'></i>遺品整理</li>
          <li><i class='bx bx-closet'></i>押入れ・納屋のみもOK</li>
          <li><i class='bx bxs-moon'></i>深夜・早朝対応可</li>
          <li><ion-icon name="globe-outline"></ion-icon>オンラインで概算見積即日</li>
          <li><ion-icon name="card-outline"></ion-icon>クレジットカード・PayPay対応可</li>
        </ul>
        <h2 class="text-white">こんな<span style="color: var(--primary);">お悩み</span>ありませんか？</h2>
        <p class="text-white">xxxxxxxxxxxxxxxxxx</p>

        <a class="btn btn--orange btn--radius me-2">詳細はこちら<a>
            <a class="btn btn-outline-light btn--radius ms-2">Contact<a>
      </div>
    </div>
  </div>
</div>

<!-- Service section -->

<section id="service" class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <h6 class="theme">SERVICES</h6>
        <h1>サービス内容</h1>
        <p>//////////////////// <span></span>
        </p>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-sm-6">
        <div class="service card-effect">
          <div class="iconbox">
            <i class='bx bx-home-smile'></i>
          </div>
          <h5>遺品整理・片付け</h5>
          <p>'''':::::[[[[LOLKLlllllkkllkkklllkklll</p>

        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="service card-effect">
          <div class="iconbox">
            <i class='bx bx-tv'></i>
          </div>
          <h5>家電修理</h5>
          <p>'''':::::[[[[LOLKLlllllkkllkkklllkklll</p>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="service card-effect">
          <div class="iconbox">
            <i class='bx bx-mobile-alt'></i>
          </div>
          <h5>PC・スマホ修理</h5>
          <p>'''':::::[[[[LOLKLlllllkkllkkklllkklll</p>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- Feature section-->
<section class="row py-2 bg-light">
  <div class="col-lg-6 col-img"></div>
  <div class="col-lg-6">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <h6 class="theme">Why to choose us?</h6>
          <h1>Create your Idea</h1>
          <p>
            fjlklfa jkkflalk klklfaklkk lkflkdakk
            faklklkfalklk.
          </p>

          <div class="feature d-flex mt-5">
            <div class="iconbox me-3">
              <i class='bx bx-tv'></i>
            </div>
            <div>
              <h5>Create</h5>
              <p>flkdlgskl fasdlkf lkfsa kflk iewugofio fkkgdsal lklfkdskgksg lkfslkfk kfsflsfk klklkeoiogjk.</p>
            </div>
          </div>
          <div class="feature d-flex mt-5">
            <div class="iconbox me-3">
              <i class='bx bx-tv'></i>
            </div>
            <div>
              <h5>Create</h5>
              <p>flkdlgskl fasdlkf lkfsa kflk iewugofio fkkgdsal lklfkdskgksg lkfslkfk kfsflsfk klklkeoiogjk.</p>
            </div>
          </div>
          <div class="feature d-flex mt-5">
            <div class="iconbox me-3">
              <i class='bx bx-tv'></i>
            </div>
            <div>
              <h5>Create</h5>
              <p>flkdlgskl fasdlkf lkfsa kflk iewugofio fkkgdsal lklfkdskgksg lkfslkfk kfsflsfk klklkeoiogjk.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>

<!--Project section-->
<section id="projects" class="mb-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <h6 class="theme">PROJECTS</h6>
        <h1>Recent Projects</h1>
        <p>////////////////////</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="project">
          <img height="300px" src="{% static 'mainapp/temple.jpg' %}" alt="" />

          <div class="overlay">
            <div>
              <h4 class="text-white">Project Title</h4>
              <h6>Website Design</h6>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!--Team section-->
<section id="team" class="bg-light pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <h6 class="theme">TEAM</h6>
        <h1>Our Fair & Simple Pricing</h1>
        <p>////////////////////</p>
      </div>
    </div>

    <div class="row g-3">
      <div class="col-lg-3 col-sm-6">
        <div class="team-member card-effect text-center">
          <img src="{% static 'mainapp/temple.jpg' %}" />
          <h5 class="mt-2">Project Title</h5>
          <p>Website Design</p>
          <div class="social-icons">
            <a class="icon" href="#"><i class='bx bxl-twitter'></i></a>
            <a class="icon" href="#"><i class="fa-brands fa-line"></i></a>
          </div>

        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="team-member card-effect text-center">
          <img src="{% static 'mainapp/sika.jpg'%}" alt="Responsice image" class="img-fluid">
          <h5 class="mt-2">Project Title</h5>
          <p>Website Design</p>
          <div class="social-icons">
            <a class="icon" href="#"><i class='bx bxl-twitter'></i></a>
            <a class="icon" href="#"><i class="fa-brands fa-line"></i></a>
          </div>

        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="team-member card-effect text-center">
          <img src="{% static 'mainapp/temple.jpg' %}" />
          <h5 class="mt-2">Project Title</h5>
          <p>Website Design</p>
          <div class="social-icons">
            <a class="icon" href="#"><i class='bx bxl-twitter'></i></a>
            <a class="icon" href="#"><i class="fa-brands fa-line"></i></a>
          </div>

        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="team-member card-effect text-center">
          <img src="{% static 'mainapp/temple.jpg' %}" />
          <h5 class="mt-2">Project Title</h5>
          <p>Website Design</p>
          <div class="social-icons">
            <a class="icon" href="#"><i class='bx bxl-twitter'></i></a>
            <a class="icon" href="#"><i class="fa-brands fa-line"></i></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!--Blog section-->
<section id="blog" class="pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <h6 class="theme">BLOG</h6>
        <h1>Latest News From The Blog</h1>
        <p>////////////////////</p>
      </div>
    </div>

    <div class="row g-3">
      <div class="col-lg-4 col-sm-6">
        <div class="blog card-effect text-center">
          <img src="{% static 'mainapp/temple.jpg' %}" />
          <h5 class="mt-2"><a href="">Post Title</a></h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam sint harum quibusdam rem, sequi laboriosam.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}