<nav>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            カテゴリー
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{% url 'store:product_all' %}">全て</a></li>
            <li><a class="dropdown-item" href="/store/search/room-clean">片付け・遺品整理</a></li>
            <li><a class="dropdown-item" href="/store/search/equipment-fix">電化製品修理</a></li>
        </ul>
    </div>
</nav>